extends ../layout/layout.pug
block content
    title Продукты
    .container    
        -var products= products
        .search-box
            label(style="" for="keyword") 
                b Поиск по именам:
            input(style="width:200px" type="text" name="keyword")
        .container-child 
    script.
        const baseProducts = !{JSON.stringify(products)}
        const searchbox = document.querySelector("input");
        const productPanel = document.querySelector(".container-child");
        searchbox.addEventListener('input', findItems)
        document.addEventListener('DOMContentLoaded',showProduct(baseProducts));
        function findItems(e){
           var key = e.target.value;
           console.log(key);
           const filteredProducts = baseProducts.filter(product => product.productName.toLowerCase().includes(key));
           showProduct(filteredProducts)
        }
        function showProduct(productsVar){
            productPanel.innerHTML = '';
            for(const product of productsVar){
                var div = document.createElement('div');
                div.className = "productView";
                var img = document.createElement('img');
                img.src = product.productThumpnail;
                var nameProduct = document.createElement('h3');
                nameProduct.innerHTML = product.productName;
                var list = document.createElement('ul');
                var info1 = document.createElement('li');
                info1.innerHTML = "Цена: <b> " + product.productPrice*(100-product.productSale)/100 +" $";
                var addButton = document.createElement('button');
                addButton.type = "submit";
                addButton.textContent="Добавить в корзину";                                                    
                list.append(info1);
                productPanel.appendChild(div);
                div.appendChild(img);
                div.appendChild(nameProduct);
                div.appendChild(list);
                div.appendChild(addButton);
                addButton.addEventListener('click',()=>{AddHandler(product._id)})
            }
        }
        async function AddHandler(id){
            await fetch("/products/addItem",{
                method:'POST',
                headers:{
                    'Content-Type':"application/json"
                },
                body:JSON.stringify({itemID:id}),
            }).
            then(response=>response.json()).then(mes=>alert(mes.mes))
        }