extends ../layout/layout.pug
block content
    #login-form.sign-form
        h2 Войти
        form#signInForm(method="post", action='/myprofile/login')
            label(for='username') Логин:
            input#username-login(type='text' name='username' required='')
            label(for='password') Пароль:
            input#password-login(type='password' name='password' required='')
            i(style='color:darkred')= message
            button(type='submit') Войти
            button#showSignUp(type='button',style='opacity:20%') Зарегистрировать       

    #signup-form.sign-form(style='display:none;',onsubmit=`return checkPasswords()`)
        h2 Зарегистрировать
        form#signInForm(method="post", action='/myprofile/signup')
            label(for='username') Логин:
            input#username-signup(type='text' name='username' required='')
            label(for='password') Пароль:
            input#password1(type='password' name='password1' required='')
            label(for='password') Пароль повторить:
            input#password2(type='password' name='password2' required='')
            button(type='submit') Зарегистрировать
            button#showLogIn(type='button',style='opacity:20%') Log in  

    script(type='text/javascript').
        const showSignUp = document.querySelector('#showSignUp');
        const showLogIn = document.querySelector('#showLogIn');
        const logInForm = document.querySelector('#login-form');
        const signUpForm = document.querySelector('#signup-form');

        showSignUp.addEventListener('dblclick',()=>{
            logInForm.style.display = 'none';
            signUpForm.style.display ='flex';})
        showLogIn.addEventListener('dblclick',()=>{
            signUpForm.style.display = 'none';
            logInForm.style.display = 'flex';});
        
        function checkPasswords(){
        var password1 = document.getElementById('password1').value;
        var password2 = document.getElementById('password2').value;
        if (password1 != password2) {
            alert('Логин или пароль не правильный.');
            return false; // Prevent form submission
        }
        return true; // Allow form submission
        }