doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/css/layout.css')    
    script(src="/script/script.js")
body 
    .navbar
        .logo
            img(class='logoImg', src='/img/logo.png', alt='brandLogo')
        div
            a(href='/home') 
                h1  Имя бренда
        .navbar-items
            a(href='/products') 
                b Продукты
            a(href='/news') 
                b Новости
            a(href='/about-us') 
                b О Нас
            a#logIn(href='/myprofile') 
                b Личный кабинет
            a#cartbox(href='/myprofile/cart')
                b Корзина 
    block content
    title= title


