extends ../admin/adminLayout.pug
block content
    title Admin 
    .container
        button#NewOrder
            h1 Check Orders
        button
            h1 Public news
        button
            h1 List of products
        button
            h1 List of clients