extends ../admin/adminLayout.pug
block content
    title Edit Product 
    .container 
        div(style="display:flex")

        .sign-form 
            -heading = "Edit product: " + product.productName
            h2= heading 
            form#signInForm(method="get", action='')
                    label(for='productname') Product Name:
                    input(type='text' name='productname' required='' value=product.productName)
                    label(for='productcode') Product Code:
                    input(type='text' name='productcode' required='' value=product.productcode)
                    div(style="display:flex")
                        label(style="width:200px;self-align:left",for='productprice') Product Price:
                        input(type='number' name='productprice' required='' value=product.productPrice)
                    div(style="display:flex;margin-top:20px;")
                        label(style="width:200px",for='productthumpnail') Product Thumpnail:
                        input(type='file' name='productthumpnail' required='' value = product.productThumpnail)
                    label(for='productdescripttion') Product Description:
                    input(style='height:50px',type='text' name='productdescription' required='' value= product.productDescription)
                    button(type='submit') Add Product
                    button#cancel(type='button') Cancel   