extends ../admin/adminLayout.pug
block content
    title Администратор
    .container
        button#NewOrder
            //- h1 Check Orders
            h1 Управление заказами
        button
            h1 Редактировать Новости
        button
            h1 Управление продуктами
        button
            h1 Список склиентов